{{page-title "Image Utils"}}

<h2 id="title">Image Utils</h2>

<img alt="" src={{this.model.src}} >

<JsonViewer
  @json={{this.model.tags}}
  @options={{hash
    expandedIcon=">"
    collapsedIcon="<"
    collapseDepth=5
  }}
/>


{{outlet}}
